{% load static %}
<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" />

<div id = all><!--all wrap start-->
<header><!--header start-->
  <div id = top><!--top start -->
     <div class = navlink><!--navlink start -->
	<li><a href ="{{movies}}">Movies</a>
		
	</li>
    </div><!--navlink end -->

    <div class = navlink><!--navlink start -->
	<li><a href ="{{shows}}">TV Shows</a>
		
	</li>
    </div><!--navlink end  -->

    <div class = logo><!--logo start -->
	<a href ="{{home}}">Fugazzzi</a>
    </div><!--logo end -->
    </div><!--top end -->
</header><!--header end -->

<body><!--body start -->
  <div id = bodywrap><!--bodywrap start -->
      <div id = right>
	<div id = views>
	  <div id = info>
 {% for i in info %}
	  <img src ="{{ i.0 }}" >
	  <h><b><br>{{ i.1 }}</br></b></h>
	  <p><b> Language: </b>{{ i.2 }} </p>
	  <p><b> Seasons: </b>{{ i.3 }}</p>
	  <p><b> Cast: </b>{{ i.4 }}</p>
	  <p>{{ i.5 }}</p>
 {% endfor %}
	 </div>
	 </div>


	  <div class = beef>
	  <table>
		<tr>
		  <th>Link</th>
		  <th>Quality</th>
		  <th>Downloadable</th>
		</tr>
 {% for i in beef %}
	<td>{{ i.0 }}</td>
	<td>{{ i.1 }}</td>
	<td>{{ i.2 }}</td>
 {% endfor %}
	  </table>
	</div>
      </div><!--right end-->
      <div id = left>
       <div id = latest >
        <div class = block-title>Latest Releases</div>
	 <div id= latestwrap>
 {% for i in latest %}
	<div class = item>
	     <a href="{{ i.0 }}">
	       <div class = itemhover> <img src="{{ i.1 }}" title = "{{ i.2 }}"/>{{ i.3 }}</div>
	     </a>
	  </div>
  
 {% endfor %}<!--item end-->
	</div><!--latestwrap end-->
       </div><!--latest end-->

       <div id = upcoming>
	<div class = block-title>Upcoming Releases</div>
	 <div id= upcomingwrap>
 {% for i in upcoming %}
	<div class = item>
	     <a href="{{ i.0 }}">
	       <div class = itemhover> <img src="{{ i.1 }}" title = "{{ i.2 }}"/> {{ i.3 }}</div>
	     </a>
	  </div>
  
 {% endfor %}
	 
	</div><!--upcomingwrap end-->
       </div><!--upcoming end-->
      </div><!--left end-->
    </div> <!--container end-->

  
</body>


<footer>
  <div id = foot>
       Copyright © 2016 Exclusive for theFence.is<br />
      All rights reserved.
  </div>
</footer>
</div><!-- all end-->
